//test colors

$test_red: #f15a29;
$test_orange: #f26522;
$test_orange_light: #fbb040;
$test_orange_stars: #f7941e;
$test_blue: #75bad3;
$test_green: #78a240;
$test_grey_dark: #45535f;
$test_grey: #bcbec0;
$test_grey_light: #d1d3d4;
$test_grey_light2: #fafafa;
$text-color: $test_grey_dark;
